apiVersion: v1
kind: Service
metadata:
  labels:
    app: wil42-playground
  name: wil42-playground
  namespace: dev
spec:
  ports:
  - name: 8888-8888
    port: 8888
    protocol: TCP
    targetPort: 8888
  selector:
    app: wil42-playground
  type: ClusterIP
status:
  loadBalancer: {}
